
<div class="headers" align="center"><h1>Login</h1></div>
<app-alerts></app-alerts>
<form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container"  style="width: 40%;">
        <div class="form-group">
          <label for="username">Username</label>
          <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><mat-icon>person</mat-icon> </div>
              </div>
              <input type="text"  formControlName="username" placeholder="&#xF002;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username?.errors }" />
            </div>

          <div *ngIf="submitted && !!f.username.errors" class="invalid-feedback">
              <div *ngIf="!!f.username.errors.required">Username is required</div>
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><mat-icon>lock</mat-icon> </div>
              </div>
              <input type="password" formControlName="password"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password?.errors }" />
            </div>

          <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
              <div *ngIf="!!f.password.errors.required">Password is required</div>
          </div>
      </div>
      <div class="form-group" align="center">
        <p>
          <button [disabled]="loading" class="btn btn-full btn-primary" style="width:98%;">Login</button>
          <img *ngIf="loading" class="pl-3"  />
        </p>

        <p>
            <a href="/register" id="customer_register_link">Create Account</a>
        </p>
        <p>
            <a href="/home">Return to Store</a>
        </p>

      </div>
      </div>
</form>
