
  <section class="header12 cid-roNIwkLuTv mbr-fullscreen mbr-parallax-background" id="header12-5">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container  ">
            <div class="media-container">
                <div class="col-md-12 align-center">
                    <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1">
                        Khalanj-”خْلَنْجْ”</h1>
                    <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5">
                        “A new start for your old clothes”
                    </p>


                    <div class="icons-media-container mbr-white">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                <span class="mbr-iconfont mbri-delivery"></span>
                            </div>
                            <h5 class="mbr-fonts-style display-5">Collect Clothes</h5>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                    <span class="mbri-sun mbr-iconfont"></span>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Clean</h5>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                    <span class="mbr-iconfont mbri-setting"></span>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Sort &amp; Aggergate</h5>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                    <span class="mbr-iconfont mbri-cash"></span>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Sell</h5>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a (click)="scroll(target)">
            <i style="color:white;" class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>
<section class="mbr-section content4 cid-roNIP8Sy2b" id="content4-6"  #target>



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Our Goals</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5"></h3>

            </div>
        </div>
    </div>

</section>
<section class="mbr-section article content9 cid-roNIQ0BSnD" id="content9-7">



    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div style="margin-left:23%;"> 
            <div class="section-text align-left mbr-fonts-style display-5">
            * Is to protect the environment and it is a charity goal. <br>
            * The clothes that shown are sorted and recycled. <br>
            * We do not promote or market any particular brand. <br>
            * We only offer the donated clothes. <br>
            
            </div>
            </div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>
<section class="mbr-section content4 cid-roNIP8Sy2b" id="content4-6">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Our Motivation</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5"></h3>

            </div>
        </div>
    </div>

</section>

<section class="mbr-section article content9 cid-roNIQ0BSnD" id="content9-7">



    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-5">It comes to help and protect the environment by refactoring/recycling the wasted clothes and support out local community, by providing underprivileged people with affordable good quality clothing.</div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>

<section class="mbr-section content6 cid-roNIUkubWn" id="content6-8">



    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 60%;">
                      <img src="assets/images/mbr-436x291.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">•	<strong>We Collect</strong>: clothes from bins that allocated all over Palestine. Or we carry out clothes donation campaigns with schools, universities and businesses.&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content7 cid-roNIV6dRMI" id="content7-9">



    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">•	<strong>We Cure:</strong> Collected clothes from bins that were aggregated at our warehouse where it’s graded, sorted and cleaned.</p>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 60%;">
                     <img src="assets/images/mbr-1-436x291.jpg" alt="Mobirise" title="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content6 cid-roNIWnSABX" id="content6-a">



    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 60%;">
                      <img src="assets/images/mbr-436x289.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">•	<strong>We Distribute:</strong> We set up pop-up second hand shops all over Palestine, where we sell the clothes at the most affordable prices.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="testimonials1 cid-roNJhFVAMP" id="testimonials1-c">




    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    WHAT OUR FANTASTIC USERS SAY
                </h2>
                <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">
                    ....  .... Feedbacks .... ....
                </h3>
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="title col-12 align-center">
            <h2 class="pb-3 mbr-fonts-style display-2">
                Our Team
            </h2>
        </div>
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/mbr-240x159.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           CS Student
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Arkan Jbali</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/mbr-240x146.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                          CS Student
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Mariana Abu Asaad</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/mbr-240x160.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                          CS Student
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Ola Ataiwi</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>



<section class="footer4 cid-roNJtbRXU9" id="footer4-e">





    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-3 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="https://mobirise.co/">
                        <img src="assets/images/logo-192x152.png" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    Khalanj - Home</p>
            </div>

                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <p class="mbr-text">
                        <strong>Address</strong>
                        <br>
                        <br>1234 Street Name
                        <br>City, AA 99999
                        <br>
                        <br>
                        <br><strong>Contacts</strong>
                        <br>
                        <br>Email: support@mobirise.com
                        <br>Phone: +1 (0) 000 0000 001
                        <br>Fax: +1 (0) 000 0000 002
                    </p>

            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <div class="col-12 col-md-6">
                    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://maps.google.com/maps?q=Taibe&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen=""></iframe></div>
                </div>
                <div class="social-list pl-0 mb-0">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://plus.google.com/" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-12 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2019 Khalanj - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



