
<p style="margin-top: 8%;">

</p>

<h1>Hi {{s}}!</h1>
<h3>Transactions: </h3>
<table border='1' width='100%' style='border-collapse: collapse;'>
  <tr>
    <th>Email</th>
    <th>Payment Method</th>
    <th>Total</th>
    <th>Status</th>
  </tr>

  <tr *ngFor="let tran of trans">
    <td>{{ tran.email }}</td>
    <td>{{ tran.card }}</td>
    <td>{{ tran.cost }}</td>

    <td><span *ngIf= " tran.status == 0 "><i class="material-icons" style="color: rgb(238, 53, 53);">
      error</i> Failed</span>
      <span *ngIf= " tran.status == 1 "><i class="material-icons" style="color: rgb(15, 248, 170);">
        done</i> Success</span></td>
  </tr>
</table>
<hr>
<h3>Users Management</h3>
<hr>
<div>

  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>User Name</th>
      <th>Password</th>
      <th>Operations</th>
    </tr>

    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
      <td>
        <button (click)="deleteUser(user.id)">Delete</button>
        <button (click)="selectUser(user)">Update</button>
      </td>
    </tr>
  </table>
  <br>
  <app-alerts></app-alerts>
  <form #f = "ngForm" style="width:30%;">
    <label>FirstName</label>
    <input type="text" name="firstname" [(ngModel)] = "selectedUser.firstname">
    <br>
    <label>LastName</label>
    <input type="text" name="lastname" [(ngModel)] = "selectedUser.lastname">
    <br>
    <label>Email</label>
    <input type="text" name="email" [(ngModel)] = "selectedUser.email">
    <br>
    <label>Phone</label>
    <input type="text" name="phone" [(ngModel)] = "selectedUser.phone">
    <br>
    <label>UserName</label>
    <input type="text" name="username" [(ngModel)] = "selectedUser.username">
    <br>
    <label>Password</label>
    <input type="text" name="password" [(ngModel)] = "selectedUser.password">
    <br>
    <input type="button" (click)="createOrUpdateUser(f)" value="Create or Update User">
  </form>
