
.headers h6{
  font-family: Stencil Std, fantasy;
  font-size: 30px;
  border-bottom: 1px solid rgb(155, 155, 156);
  margin-bottom: 5px;
  color: rgb(72, 141, 219);
  width: 20%;
}
mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;

}
mat-cell {

  text-align: left;
}
mat-header-cell {

text-shadow: 1px 1px 1px #ece1e1;
  font-size: 17px;
}

mat-card{
   width: 60%;
 /* border: 2px solid;*/
  /* border-color:#C76BC0; */
}
mat-paginator{
  float: left;

}
#btn{
  width: 100%;
  margin-left: 60%;
}
.info{
  font-family: Stencil Std, fantasy;
  font-size: 20px;
  margin-left: 10%;
  top:0;
  color: rgb(0, 0, 0);
}
.box{
  position: relative;
  display: inline-block;
}
.box .text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  text-align: center;
  top:0;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial,sans-serif;
  color: #fff;
  width: 50%;
}
img:hover{
  filter: brightness(0.85);
  cursor: pointer;
}
