<p style="margin-top: 10%;">

</p>
<div *ngIf="_catTitle != ''"  align="center" class="headers">
  <h6>{{catTitle}} Collection</h6>
</div>
<br>
<div  align="center">
   <mat-card *ngIf="_catTitle != ''">
        <div>
            <strong style="font-size: 20px;">Catalog</strong>
        </div>

        <mat-table #table [dataSource]="_products" matSort class='table'>
        <ng-container matColumnDef="items">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Items:</mat-header-cell>
          <mat-cell *matCellDef="let e">
              <div class="box"  (click)="onPreview(e);">
                  <img width="200px" hight="300px" src="data:image/jpeg;base64,{{e.productimg}}">
                    <div class="text">
                        <span style="size: 8px;">Save: 10%</span>
                    </div>
                </div>
                <!-- {{e.productid}} <br> -->
            <span class="info"> {{e.productname}} </span>
          </mat-cell>
        </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf= " havePermission ">
              <button type="button" id="btn" class="btn btn-outline-primary" (click)="onPreview(row)">
                Preview
              </button><br>
              <button type="button" id="btn" class="btn btn-primary" (click)="addToCart(row.productid)">
                  Add to cart
                </button>
            </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Loading Data...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No Data.
            </mat-footer-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
          <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':_catTitle===null}">
          </mat-footer-row> -->
          <!-- <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(_catTitle!=null && _catTitle.data.length==0)}">
          </mat-footer-row> -->
      </mat-table>

     <mat-paginator  #paginator [pageSize]="3" [pageSizeOptions]="[3, 5, 10]">
      </mat-paginator>


  </mat-card>
</div>
