
<p style="margin-top: 10%;">
</p>
<div class="container">
  <div class="row" style="margin: 10px;">
    <div class="col mdb-lightbox"><img class="img-fluid" src="./assets/clothesAd.jpg" width="100%"></div>
    <div class="col headers" align="center" *ngFor="let product of products">
      <h6>Khalanj Shop</h6>
      <h4>{{product.productname}}</h4>
      <h4>{{product.categoryname}}</h4>
      <h5>{{product.price}}</h5>
      <h5>Tax Included</h5>
      <hr>
      <h5>Color</h5>
      <button class="btn-sm btn-outline-primary">Black</button>
      <br> <br>
      <h5>Size</h5>
      <ul>
          <li>
            <input type="checkbox" checked id="check_1" name="check_1" value="check_1">
            <label for="check_1">S</label>
          </li>
          <li>
            <input type="checkbox" id="check_2" name="check_2" value="check_2">
            <label for="check_2">M</label>
          </li>
          <li>
            <input type="checkbox" id="check_3" name="check_3" value="check_3">
            <label for="check_3">L</label>
          </li>
          <li>
            <input type="checkbox" id="check_4" name="check_4" value="check_4">
            <label for="check_4">XL</label>
          </li>
        </ul>
        <button class="btn btn-full btn-primary" style="width:70%;">Add to cart</button>
  </div>

  </div>
  <div class="row headers" align="center">
    <h5><a href="/shop"><mat-icon>arrow_back</mat-icon> BACK TO CATALOG</a></h5>
  </div>
</div>

