<!--Main Navigation-->
<header>


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../assets/clothesAd.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-white-light" style="background-color:rgba(0,0,0,0.4);">
      <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row pt-5 mt-3">
          <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center">
              <h1 class="white-text display-3 mb-5 wow fadeInDown shad" data-wow-delay="0.3s">NEW
                <a class="white-text font-weight-bold shad">Innovation</a>
              </h1>
              <h5 class="text-uppercase mb-5 mt-1 font-weight-bold wow fadeInDown shad" style="color: rgb(248, 245, 150);" data-wow-delay="0.3s">A new
                start for old clothes
              </h5>
              <a class="btn btn-outline-white btn-lg wow fadeInDown" data-wow-delay="0.3s" href="/shop">Shop</a>
              <a class="btn btn-white btn-lg wow fadeInDown" data-wow-delay="0.3s" (click)="scrollWin();">Lookbook</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->


<!--Main Layout-->
<main style="margin-top: 5%;">

  <div class="container">

    <!--Section: Products v.3-->
    <section class="section pb-3 wow fadeIn" data-wow-delay="0.3s">

      <!--Section heading-->
      <h1 class="font-weight-bold text-center h1 my-5">Our Collections</h1>
      <!--Section description-->
      <p class="text-center grey-text mb-5 mx-auto w-responsive">Is a new shopping experiment, for
        elegant people, fancy and cheaper..</p>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(36).jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="/shop" class="text-muted">
                <h5>Blouse</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="/shop">White Blouse</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">White Blouse.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="float-left">59$
                  <span class="discount">199$</span>
                </span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay z-depth-1">
              <img src="../assets/images/black_hat.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="/shop" class="text-muted">
                <h5>Accessories</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="/shop">Black hat</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">Black hat.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="float-left">39$
                  <span class="discount">99$</span>
                </span>
                <span class="float-right">
                  <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(38).jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="/shop" class="text-muted">
                <h5>Sweatshirt</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="/shop">Flower sweatshirt</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">Flower sweatshirt.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="float-left">79$
                  <span class="discount">299$</span>
                </span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Fourth column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay z-depth-1">
              <img src="../assets/images/jackets.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="/shop" class="text-muted">
                <h5>Outwear</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="/shop">Denim jacket</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">Denim jacket.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="float-left">79$
                  <span class="discount">299$</span>
                </span>
                <span class="float-right">
                  <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Fourth column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Products v.3-->

    <hr class="mb-5 mt-4">

      </div>

  <!-- Streak Section -->
  <div class="streak streak-photo" style="background-image:url('https://mdbootstrap.com/img/Photos/Others/dress.jpg')">

    <div class="flex-center white-text pattern-1" style="background-attachment: f">
      <ul class="list-unstyled">
        <li>
          <h1 class=" white-text">
            <strong>500+</strong> happy customers</h1>
        </li>

      </ul>
    </div>

  </div>
  <!-- /.Streak Section -->

  <div class="container">

    <!--Projects section v.4-->
    <section class="text-center pb-5 wow fadeIn">

      <!--Section heading-->
      <h2 class="font-weight-bold text-center h1 my-5"></h2>
      <!--Section description-->
      <p class="text-center grey-text mb-5 mx-auto w-responsive"></p>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
          <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/slide%20(31).jpg');">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="" class="purple-text">
                  <h5>
                      <i class="material-icons">
                          monetization_on
                          </i>
                    Donate</h5>
                </a>
                <h3 class="mb-4 mt-4">
                  <strong></strong>
                </h3>
                <p><span style="margin-left: 10%;"></span>"Never get tired of doing little things for others, sometimes those little things occupy the biggest parts of their hearts".</p>
                <a class="btn btn-secondary btn-sm">
                  <i class="fa fa-clone left"></i> View</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(60).jpg');">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="" class="pink-text">
                  <h5>
                    <i class="fa fa-camera pr-2"></i>Fashion news</h5>
                </a>
                <h3 class="mb-4 mt-4">
                  <strong></strong>
                </h3>
                <p>Fashion news.</p>
                <a class="btn btn-pink btn-sm">
                  <i class="fa fa-clone left"></i> View </a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(58).jpg');">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="" class="green-text">
                  <h5>
                    <i class="fa fa-eye pr-2"></i>Summer trends</h5>
                </a>
                <h3 class="mb-4 mt-4">
                  <strong></strong>
                </h3>
                <p>Summer trends.</p>
                <a class="btn btn-success btn-sm">
                  <i class="fa fa-clone left"></i> View</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Projects section v.4-->

  </div>

</main>
<!--Main Layout-->


<section class="footer4 cid-roNJtbRXU9" id="footer4-e">





    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-3 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="https://mobirise.co/">
                        <img src="assets/images/logo-192x152.png" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    Khalanj - Home</p>
            </div>

                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <p class="mbr-text">
                        <strong>Address</strong>
                        <br>
                        <br>1234 Street Name
                        <br>City, AA 99999
                        <br>
                        <br>
                        <br><strong>Contacts</strong>
                        <br>
                        <br>Email: support@mobirise.com
                        <br>Phone: +1 (0) 000 0000 001
                        <br>Fax: +1 (0) 000 0000 002
                    </p>

            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <div class="col-12 col-md-6">
                    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://maps.google.com/maps?q=Taibe&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen=""></iframe></div>
                </div>
                <div class="social-list pl-0 mb-0">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://plus.google.com/" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-12 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2019 Khalanj - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
